.VueTables {
    &.VueTables--server {
        margin-top: 20px;
        padding: 20px;
        background: $table-container-bg;
        box-shadow: 0 0 15px $table-container-shadow;
        .VueTables__search {
            label{
                display: none;
            }
            .VueTables__search-field {
                margin-bottom: 20px;
                input {
                    border: 0;
                    color: $text-color !important;
                    &:focus {
                        color: $text-color !important;
                        outline: none !important;
                        box-shadow: 0 0 10px $body-bg;
                        border: 0 !important;
                    }
                }
            }
        }
        .table-responsive {
            .VueTables__table {
                border: 0;
                thead {
                    border: 0;
                    tr {
                        border: 0;
                        th {
                            border: 0;
                            text-align: center;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            &:nth-child(2) {
                                text-align: left;
                            }
                            .VueTables__heading {
                                color: $text-color;
                                text-transform: uppercase;
                            }
                            .VueTables__sort-icon {
                                color: $text-color;
                                padding-left: 10px;
                            }
                        }
                    }
                }
                tbody {
                    border: 0;
                    .VueTables__row {
                        border: 0;
                        td {
                            border: 0;
                            color: $text-color;
                            text-align: center;
                            &:nth-child(2) {
                                text-align: left;
                                a {
                                    color: $text-color;
                                }
                            }
                        }
                    }
                    .VueTables__no-results {
                        border: 0;
                        background: $table-container-bg;
                        td {
                            border: 0;
                            color: $text-color;
                            font-style: italic;
                        }
                    }
                }
            }
        }
        .VuePagination {
            margin-top: 20px;
            width: unset;
            .VuePagination__pagination {
                &.pagination {
                    justify-content: center;
                    .page-link {
                        border-radius: 0 !important;
                        background: $body-bg !important;
                        border: none !important;
                        color: $text-color;
                        margin-left: 5px;
                        &:hover {
                            background: $paginator-hover-bg !important;
                        }
                        &.active {
                            background: $paginator-hover-bg !important;
                        }
                    }
                }
            }
            .VuePagination__count {
                padding: 5px;
                max-width: 400px;
                margin: 0 auto;
                background: $table-container-bg;
                color: $results-count-color;
            }
        }
    }
}
