// Body
$body-bg: #1c1c1c;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Table
$table-container-bg: #242424;
$table-container-shadow: #171717;
$paginator-hover-bg: #141414;
$text-color: #9e9e9e;
$results-count-color: #7a7a7a;

