<template>
    <div class="container">
        <div class="col col-md-12">
            <v-server-table class="rounded" url="/api/results" :options="options" :columns="tableColumns">
                <template v-for="column in tableColumns" :slot="column" slot-scope="props">
                    <a v-if="isTitleColumn(column)" :href="goto(props.row.url)">{{props.row[column]}}</a>
                    <span v-else>{{ props.row[column] }}</span>
                </template>
            </v-server-table>
        </div>
    </div>
</template>

<script>
import { ServerTable } from 'vue-tables-2';
import VueAxios from 'vue-axios'
import axios from 'axios'

Vue.use(ServerTable);
Vue.use(VueAxios, axios)

export default {
    mounted() {
        this.getScraperConfig();
    },
    methods: {
        getScraperConfig: function() {
            axios.get('/api/config').then((response) => {
                this.perPage = response.data[0].records_per_page
                this.target_base_url = response.data[0].target_base_url
            });
        },
        goto: function(gotoUrl) {
            return this.isExternalUrl(gotoUrl) ? this.target_base_url + gotoUrl : gotoUrl;
        },
        isTitleColumn: function(column) {
            return column === 'title' ?? false;
        },
        isExternalUrl: function(url) {
            let a  = document.createElement('a');
            a.href = url;
            return a.host === window.location.host;
        }
    },
    data() {
        return {
            target_base_url: null,
            tableColumns: [
                'external_id',
                'title',
                'score',
                'external_created_at'
            ],
            usersCollection: [],
            options: {
                headings: {
                    external_id: 'External ID',
                    name: 'Title',
                    email: 'Score',
                    external_created_at: 'Created at'
                },
                sortable: ['external_id', 'title', 'score', 'external_created_at'],
                filterable: ['title'],
                perPage: 10,
                perPageValues: [],
                sortIcon: {
                    base: 'fa-solid',
                    is: 'fa-sort',
                    up: 'fa-sort-asc',
                    down: 'fa-sort-desc'
                }
            },
        }
    }
}
</script>
